.order{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 18rem;
    left: 1.5rem;
    flex-basis: calc(100%,5);
}
@media (min-width: 400px) and (max-width:700px){
    .order{
        flex-direction: column;
    }
}