.container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border-radius: 8px;
    margin: 1.5rem;
    text-align: center;
    transition: all 0.25s;
    width: 16.5rem;
    height: 27rem;
    padding: 1rem;
    position: relative;
}
.backgroundCard{
    position: absolute;
    background-size: cover;
    bottom: 0rem;
    height: 27.5rem;
    width: 16.8rem;
    border-radius: 8px;
    filter: blur(7px);
}

.container:hover{
    transform: translateY(-1rem);
}

.closeButton{
    position: absolute;
    left: 0rem;
    top: 1px;
    cursor: pointer;
    border:0px;
    background-color: red;
    color: white;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.closeButton:hover{
    background-color: grey;
    color: white;
}

.name{
    position: absolute;
    top: 13rem;
    font-family: sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.6;
    font-weight: 600;
    border: 1px #00d82f;
}

.status{
    position: absolute;
    top: 16rem;
    font-family: sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.6;
    font-weight: 600;
    
}

.species {
    position: absolute;
    top: 18rem;
    font-family: sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.6;
    font-weight: 600;
}

.gender {
    position: absolute;
    top: 20rem;
    font-family: sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.6;
    font-weight: 600;
}
.origin{
    position: absolute;
    top: 22rem;
    font-family: sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.6;
    font-weight: 600;
}

.image{
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: 13rem;
    width: 100%;
    margin-bottom: 1rem;
    background-size: cover;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
.favorite{
    position: absolute;
    top: 0rem;
    right: 0rem;
}
.aDetail{
    position: absolute;
    top: 24rem;
    left: 5rem;
    background-color: #00d82f;
    color: white;
    padding: 0.5rem 1.5rem;
    display: block;
    text-align: center;
}
.aDetail:hover{
    background-color: gray;
}

@media (min-width:300px) and (max-width:700px){
    .container{
        width: 83%;
    }
}
