.container{
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    margin-top: 21.5rem;
    position: absolute;
}

.input{
    border-radius: 10px;
    border-top-left-radius: 10px 0px;
    border-bottom-left-radius: 10px 0px;
    width: 15rem;
    height: 39px;
    font-size: 20px;
    padding-left: 30x;
    padding: 7px;
    border: 1px solid#00d82f;
}
.button {
    top: 0px;
    width: 35%;
    height: 39px;
    background: #00d82f;
    color: white;
    font-size: 19px;
    border: 2px solid #00d82f;
    border-left: 1px solid #00d82f;
    cursor: pointer;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    padding: 5px;
  }

  .button:hover{
    background-color: gray;
  }

  .containerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: white;
    position: absolute;
    transition: all 0.3s;
    border-radius: 10px;
    color: #00d82f;
    margin-left: 24rem;
  }

  .containerIcon:hover{
    background-color: #00d82f;
    color: white;
  }

/* @media (min-width: 300px) and (max-width: 700px){
    .container{
        flex-direction: column;
        padding-top: 10%;
    }
    .image{
        width: 25rem;
        height: 10rem;
    }
    .smallContainer{
        padding-bottom: 1rem;
    }
    .input{
        width: 22rem;
    }
} */