.containerAbout{
    position: relative;
    top: 20rem;
    left: 1rem;
    color: aliceblue;
    font-size: 35px;
    -webkit-text-stroke: 0.8px #00d82f;
}

/* .projectIn{
    font-size: 30px;
    -webkit-text-stroke: 1px #00d82f;
}

.isWorking{
    font-size: 30px;

} */